* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --boardSize: 10;
  --gameBoardSize: 500;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: midnightblue;
}

h1 {
  color: white;
  font-size: 4rem;
}

.boards {
  display: flex;
  gap: 100px;
}

.grouping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h2 {
  color: white;
  font-size: 2rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(var(--boardSize), 1fr);
  grid-template-rows: repeat(var(--boardSize), 1fr);
  width: calc(var(--gameBoardSize) * 1px);
  height: calc(var(--gameBoardSize) * 1px);
  background-color: lightskyblue;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.tile {
  border: 1px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc((var(--gameBoardSize)/15) * 1px);
  user-select: none;
}

.user {
  cursor: default;
}

.computer .tile {
  cursor: pointer;
}

.computer .tile:hover {
  background-color: rgb(94, 172, 221);
}